@if (producto !=null) {
<div style="display: flex; flex-direction: row; justify-content: center; padding: 10px; border: 1px solid black;">
  <div style="display: flex; justify-content: center; align-items: center; width: 33%;">
    <h1>{{producto.codigo}}</h1>
  </div>
  <div style="width: 33%;">
    <h2>{{producto.descripcion}}</h2>
    <h3>{{ producto.paisOrigen}}</h3>
  </div>
  <div style="display: flex; flex-direction: column; margin-left: 15px; width: 33%;">
    <p>Precio: {{producto.precio}}</p>
    <p>Stock: {{producto.stock}}</p>
  </div>
</div>
}